.card {
    background-color: var(--white);
    border-right: 7px;
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 20px;
    padding: 20px;
    position: relative;
}

@media all and (min-width: 1024px) {

    .card {
        flex-flow: row;
        justify-content: space-between;
    }
}

@media all and (min-width: 1540px) {

    .card {
        padding: 0 60px;
    }

    .card:hover, car:focus-within {
        outline: 1px solid var(--grayD9);
    }

    .card:hover h2 a, .card:focus-within h2 a {
        color: var(--orange);
    }
}


@media all and (min-width: 1024px) {
    .textContent {
        align-items: self-end;
        justify-content: center;
        display: flex;
        flex-direction: column-reverse;
        flex-basis: 100%;
        padding: 0 40px;
    }
}

@media all and (min-width: 1540px) {
    .textContent {
        padding: 0 60px;
    }
}


.metaData {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-bottom: 7px;
}

@media all and (min-width: 1024px) {
    .metaData {
        flex-direction: row-reverse;
    }
}


.userLink {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 4px;
}

@media all and (min-width: 1540px) {
    .userLink:hover a {
        text-decoration: underline;
    }
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 7px;
}

.username {
    color: var(--orange);
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-decoration: none;
}

@media all and (min-width: 1540px) {
    .username {
        position: relative;
        z-index: 1;
    }
}

.createdAt,
.publishedLabel {
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: var(--gray99);
}

@media all and (min-width: 1024px) {
    .createdAt {
        margin-right: 10px;
    }
}


.publishedLabel {
    display: none;
    margin-right: 4px;
}

@media all and (min-width: 1024px) {
    .publishedLabel {
        display: inline-block;
    }
}

.title {
    margin: 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}

.postLink {
    text-decoration: none;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    margin-bottom: 13px;
}


@media all and (min-width: 1024px) {
    .postLink {
        font-size: 20px;
        line-height: 24px;
    }
}

@media all and (min-width: 1540px) {
    .postLink:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottem: 0;
    }
}


.preview {
    max-height: 178px;
}

@media all and (min-width: 1024px) {
    .preview {
        order: -1;
        max-width: 190px;
    }
}

.previewImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.menuButton {
    width: 31px;
    height: 31px;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    transform: rotate(90deg);
    border-radius: 31px;
    background: transparent;
    border: none;
    right: 30px;
    top: 30px;
}

.menuButton:active,
.menuButton:hover {
    background-color: rgba(51, 51, 51, 0.1);
}


@media all and (min-width: 1024px) {
    .menuButton {
        right: 120px;
        top: calc(50% - 16px);
        transform: rotate(180deg);
    }
}


@media all and (min-width: 1540px) {
    .menuButton:hover {
        background-color: rgba(51, 51, 51, 0.1);
    }
}

@media all and (min-width: 1024px) {
    .actions {
        display: none;
    }
}

.controls {
    padding: 10px 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

@media all and (min-width: 1024px) {
    .controls {
        width: auto;
    }
}
@media all and (min-width: 1540px) {
    .controls {
        position: relative;
    }
}


@media all and (min-width: 1024px) {
    .karmaCounter {
        display: flex;
        flex-direction: column;
    }
}

@media all and (min-width: 1540px) {
    .karmaCounter > button.up:hover > svg > path {
        fill: var(--green);
    }

    .karmaCounter > button.down:hover > svg > path {
        fill: var(--orange);
    }
}

.up {
    margin-right: 4px;
}

.karmaValue {
    margin-right: 4px;
    color: var(--grayC4);
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
}

.down {
    margin-right: 4px;
}

.commentsButton {
    display: flex;
    align-items: normal;
}

@media all and (min-width: 1024px) {
    .commentsButton {
        display: none;
    }
}

.commentsButton * {
    color: var(--grayC4);
}

.commentsNumber {
    padding: 0 0 0 6px;
    font-size: 12px;
    line-height: 14px;
}

.shareButton {
    width: 20px;
    height: 20px;
    margin-right: 15px;
}

.shareButton {
    width: 20px;
    height: 20px;
}

